<clickhouse>
    <users>
        <{{ clickhouse_user }}>
            <access_management>1</access_management>
            <named_collection_control>1</named_collection_control>
            <show_named_collections>1</show_named_collections>
            <show_named_collections_secrets>1</show_named_collections_secrets>
            <double_sha1_passwords>1</double_sha1_passwords>
        </{{ clickhouse_user }}>
    </users>
</clickhouse>