<clickhouse>
  <remote_servers replace="true">
    <cluster_1S>
    <secret>mysecretphrase</secret>
    <shard>
        {% for host in groups['all'] %}
        <replica>
            <host>{{ host }}</host>
            <port>9000</port>
        </replica>
        {% endfor %}
    </shard>
    </cluster_1S>
  </remote_servers>
</clickhouse>