<clickhouse>
  <remote_servers replace="true">
    <cluster_1S>
    <secret>mysecretphrase</secret>
        {% for host in groups['all'] %}
        <shard>
            <replica>
                <host>{{ host }}</host>
                <port>9000</port>
            </replica>
        </shard>
        {% endfor %}
    </cluster_1S>
  </remote_servers>
</clickhouse>